<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMTRepository.Properties.Settings.CertificateRegistryConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=CertificateRegistry;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>