@{
    Layout = "~/Views/Shared/_Layout_Pages.cshtml";
}
<body class="gray-bg">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <div class="form-group">
                        <h3 class="text-center">The link you followed is expired or was used already used.</h3>
                        <p class="text-center">Please request a new invite from the organization.</p>
                        <h2 class="text-center"><span class="fa fa-exclamation-circle big-icon" style="color: #ED5565;"></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</body>
